* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    min-height: 100vh;

    background:
        linear-gradient(
            135deg,
            #e9f8f7,
            #f7fbfc
        );

    display: flex;

    align-items: center;

    justify-content: center;
}


.auth-container {
    width: 100%;

    padding: 25px;
}


.auth-box {
    width: 100%;

    max-width: 450px;

    margin: auto;

    background: #ffffff;

    padding: 40px;

    border-radius: 22px;

    box-shadow:
        0 20px 60px
        rgba(20, 90, 90, 0.12);
}


.logo {
    color: #378c86;

    font-size: 18px;

    font-weight: 800;

    letter-spacing: 3px;

    margin-bottom: 25px;
}


.auth-box h1 {
    color: #102b36;

    font-size: 30px;

    margin-bottom: 8px;
}


.subtitle {
    color: #819097;

    font-size: 14px;

    margin-bottom: 28px;
}


.auth-box label {
    display: block;

    color: #344952;

    font-size: 13px;

    font-weight: 700;

    margin-bottom: 7px;

    margin-top: 17px;
}


.auth-box input {
    width: 100%;

    height: 48px;

    border: 1px solid #dce7e7;

    border-radius: 10px;

    padding: 0 15px;

    font-size: 14px;

    outline: none;

    transition: 0.3s;
}


.auth-box input:focus {
    border-color: #438f88;

    box-shadow:
        0 0 0 3px
        rgba(67, 143, 136, 0.10);
}


.auth-box button {
    width: 100%;

    height: 50px;

    margin-top: 25px;

    border: none;

    border-radius: 10px;

    background: #438f88;

    color: #ffffff;

    font-size: 15px;

    font-weight: 700;

    cursor: pointer;

    transition: 0.3s;
}


.auth-box button:hover {
    background: #286f6a;

    transform: translateY(-2px);
}


.auth-links {
    display: flex;

    justify-content: space-between;

    gap: 15px;

    margin-top: 22px;

    flex-wrap: wrap;
}


.auth-links a {
    color: #438f88;

    text-decoration: none;

    font-size: 13px;

    font-weight: 600;
}


.auth-links a:hover {
    text-decoration: underline;
}


.error-message {
    background: #fff0f0;

    color: #c44141;

    border: 1px solid #ffd5d5;

    padding: 12px;

    border-radius: 9px;

    font-size: 13px;

    margin-bottom: 15px;
}


.success-message {
    background: #edf9f5;

    color: #287c68;

    border: 1px solid #cceee4;

    padding: 12px;

    border-radius: 9px;

    font-size: 13px;

    margin-bottom: 15px;
}


@media (max-width: 500px) {

    .auth-container {
        padding: 15px;
    }


    .auth-box {
        padding: 28px 22px;
    }


    .auth-box h1 {
        font-size: 25px;
    }

}